.loadingSection{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $back-color;
    z-index: 1;

    transition-duration: 0.3s;

    display: flex;  
    justify-content: center;
    align-items: center;

    &.loadingSection--hidden{
        transform: scale(10);
        opacity: 0;
        transition-duration: 0.3s;
    }

    &__box{
        width: 35rem;
        height: 35rem;
    }

}